*.ipynb_*
__pycache__
*.log
*.back
*.bak
*.pdf
*.egg*
*.pyc
dbggraph*.png
*.db
debuglog*
tmp*
*.log*
*.cprof
_build
_autosummary
.pytest_cache
*.coverage
*.html
*.cache
*.compilecache
*???final?.dat
*???final?.dir
  # Theano graph cache files
*.Rproj*
.Rprofile
.RData

TMPNOTES
snippets
scratch*
data
local_runs
